* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: monospace;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.third-row {
    width: 33.3333%;
}
.col-half {
    width: 50%;
}
.col-four {
    width: 25%;
}
.row {
    padding: 15px 16px 50px 64px;
}
.clear-fix {
    display: block;
    clear: both;
    height: 0;
}
#main {
}
#header {
    background-color: #fff;
}
#logo {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6; 
}
.logo-name {
    display: flex;
    background-color: #fff;
}
input:focus{
    border: #fff !important;
}
.logo-img {
    width: 100px;
}
.logo-text {
    font-size: 30px;
    color: #8fa382;
    line-height: 100px;
    margin-left: 5px;
    font-family: cursive !important;
}
.search {
    margin-top: 30px;
    background-color: #fff;
    width: 300px;
    height: 52px;
}
.search-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: max-content;
    padding: 3px 20px;
    border: 1px solid #000;
    border-radius: 1.5em;
}
.search-input {
    height: 30px;
    border: #fff;
    padding: 2px 5px;
}
.button-search {
    background-color: #fff;
    border: none;
}
.search-icon:before {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}
.header-nav {
    margin-top: 102px;
    height: 46px;
    background-color: #8fa382;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6; 
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav >li {
    display: inline-block;
    font-size: 20px;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a {
    color: #fff;
    background-color: #d38338ad;
}
#nav .subnav li:hover {
    background-color: #d38338ad;
    color: #fff;
}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #8fa382;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #F4EEEE;
    padding: 0 12px;
    line-height: 38px ;
}

#nav .nav-arrow-down {
    font-size: 14px;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 30px;
    display: block;
}
.about {
    margin-top: 200px;
}
.about-container {
    width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
.about-title h2{
    width: 1068px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #8fa382;
}
.about-body p {
    color: #696969;
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}
.mid-about {
    font-size: 14px;
    font-style: italic;
    color: #9b9a9a !important;
    padding-left: 20px;
    border-left: 4px solid #8fa382;
}
.typical-right {
    width: 1068px;
    margin-top: 100px;
    margin-left: 149px;
    margin-right: 149px;
    display: flex;
}

.list-item {
    margin-left: 20px;
    position: relative;
    margin-bottom: 20px;
}
.featured-img {
    position: relative;
    padding-top: 100%;
}
.featured-img>a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.featured-img>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cate-list-title {
    position: absolute;
    bottom: 15px;
    left: 25px;
}
.cate-title {
    position: relative;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.cate-title:hover{
    color: #72a74f;
}
.cate-title::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    background: #fff;
    left: 0;
    top: -7px;
}
#footer {
    background-color: #8fa382;
    padding: 32px 16px;
    text-align: center;
}
.socials-list {
    font-size: 24px;
}
.socials-list a {
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}
.socials-list a:hover,
.copyright a:hover {
    color: #d38338ad;

}
.copyright {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.815);
}
.copyright a {
    color: #d38338ad;
}