* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: monospace;
}
p {
    margin-bottom: 8px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
form {
    display: block;
    margin-top: 0em;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    font-family: inherit;
    margin: 0;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: Locical;
    cursor: text;
}
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}
textarea {
    font-family: inherit;
    overflow: auto;
    margin: 0;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: Locical;
    cursor: text;
    resize: auto;
    white-space-collapse: preserve;
    text-wrap: wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    writing-mode: horizontal-tb !important;
}
button {
    -webkit-appearance: button;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 6px;
}
iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}
.third-row {
    width: 33.3333%;
}
.col-half {
    width: 50%;
}
.col-four {
    width: 25%;
}
.row {
    padding: 15px 16px 50px 64px;
}
.clear-fix {
    display: block;
    clear: both;
    height: 0;
}
#main {
}
#header {
    background-color: #fff;
}
#logo {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6; 
}
.logo-name {
    display: flex;
    background-color: #fff;
}
input:focus{
    border: #fff !important;
}
.logo-img {
    width: 100px;
}
.logo-text {
    font-size: 30px;
    color: #8fa382;
    line-height: 100px;
    margin-left: 5px;
    font-family: cursive !important;
}
.search {
    margin-top: 30px;
    background-color: #fff;
    width: 300px;
    height: 52px;
}
.search-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: max-content;
    padding: 3px 20px;
    border: 1px solid #000;
    border-radius: 1.5em;
}
.search-input {
    height: 30px;
    border: #fff;
    padding: 2px 5px;
}
.button-search {
    background-color: #fff;
    border: none;
}
.search-icon:before {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 102px;
    height: 46px;
    background-color: #8fa382;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6; 
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav >li {
    display: inline-block;
    font-size: 20px;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a {
    color: #fff;
    background-color: #d38338ad;
}
#nav .subnav li:hover {
    background-color: #d38338ad;
    color: #fff;
}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #8fa382;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #F4EEEE;
    padding: 0 12px;
    line-height: 38px ;
}

#nav .nav-arrow-down {
    font-size: 14px;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 30px;
    display: block;
}
.login {
    margin-right: 60px;
}
.login p {
    line-height: 46px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
}
.login :hover {
    background-color: #d38338ad;
    cursor: pointer;
}
.main-body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.contact-title h1 {
    margin-top: 150px;
    margin-bottom: 10px;
    color: #575859;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: left;
}
.left {
    width: 100%;
    margin-right: 50px;
}
.main-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
}
.form-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    display: block;
}
.form-item {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    color: #333;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #0e0e0e;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
.right {
    width: 100%;
    margin-left: 50px;
}
.info-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
#footer {
    background: url('/assest/img/111.jpg');
    text-align: center;
    position: relative;
    opacity: 0.8;
}
.footer-container {
    display: flex;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.item-block {
    float: left;
    width: 33.3333%;
    position: relative;
    display: block;
    border-right: 1px dashed #e1e1e1;
    padding-left: 25px;
    z-index: 1;
    min-height: 210px;
    margin-top: 60px;
}
.menu-footer {
    width: 100%;
    float: left;
    position: relative;
    display: inline-block;
}
.menu-footer a:hover {
    color: #94c347;
    text-decoration: underline;
}
.title-menu-footer {
    color: #94c347;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
}
.title-menu-footer::before {
    content: "";
    top: 30px;
    left: 0;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #94c347;
    opacity: 1;
}
.list-menu {
    margin-top: 20px;
    list-style: square;
    color: #fff;
}
.list-menu li {
    text-align: left;
    font-size: 13px;
    padding: 10px 20px;
    line-height: 20px;
    padding-left: 17px;
}
.list-menu li a {
    color: #fff;
}
.list-menu li i {
    color: #fff;
}